<div>
  <%= render(
    '/workbench/elements/forms/ajax_select',
    controller: '/otus',
    object: "otu",
    method: 'id',
    tag_id: 'otu_id',
    size: 20, 
    display: otu_autocomplete_selected_tag(@otu)
  ) -%><br>
</div>
