<div class="panel content">
  <div class="content">
    <%= form_tag(by_collecting_event_task_url, method: "get") do %>
      <div>
        <div class="filter_facet flex-separate middle title-filter-categories">
          <span class="uppercase">Select collecting event</span>
        </div>
        <%= render("select_collecting_event") %>
      </div>
      <br>
      <br>
      <%= submit_tag("Submit" ) %>
    <% end %>
  </div>
</div>
